#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.quoteMark{
  font-size: 44px;
  font-family: 'Coustard', serif;
}
.quote>div{
  font-size: 44px;
  font-family: 'Playfair Display', serif;
  margin-top: -5%;
}
.quote>p{
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  margin-left: 70%;
  margin-top: -0.2%;
  font-style: italic;
}

.heart{
  display: flex;
  justify-content: center;
}
.heart>div{
  font-size: 11px;
  transform: rotate(-30deg); 
  margin-right: -40px;
  color: #61dafbaa;
}

.storyIp{
  padding: 8px;
  font-size: 16px;
  margin: 5%;
}
.ipSection{
  display: flex;
  flex-direction: column;
 align-items: flex-start;
}
/* .ipSection>div{
  display: flex;
} */
.layout{
  display: flex;
  width: 60vw;
  justify-content: space-between;
}
.tab{
  border: 1px solid #6c757d;
  border-radius: 0;
  background-color: #f8f9fa;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  color: #6c757d;
}
.submitBtn{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #61dafbaa;
  padding:  10px 25px 10px 25px;
}